@model Domain.Entities.Venda

@{
    ViewBag.Title = "Detalhes da Venda";
}

<h2>Detalhes da Venda</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Código
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            Data da Venda
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataVenda.Date)
        </dd>

        <dt>
            Vendedor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendedor.Nome)
        </dd>

        <dt>
            Qtd. Vendida
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdVendida)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.IdProduto }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Voltar", "Index", "", new { @class = "btn btn-default" })
</p>
